<h1><%- title %></h1>
<%- messages() %>

<div class="add-inventory-container">
  <form action="/inv/update" id="updateForm" method="post">
    <div class="option-container">
      <label for="classificationList">Classification:</label>
      <%- classificationSelect %>
    </div>
    <label for="inv_year">Year:</label>
    <input
      type="number"
      id="inv_year"
      name="vehicle_year"
      class="form-control"
      placeholder="4-digit year"
      required
      <%
      if(locals.inv_year)
      {
      %
    />
    value="<%= locals.inv_year %>"<% } %>>

    <label for="inv_make">Make:</label>
    <input
      type="text"
      id="inv_make"
      name="inv_make"
      minlength="3"
      placeholder="Min of 3 characters"
      required
      class="form-control"
      <%
      if(locals.inv_make)
      {
      %
    />
    value="<%= locals.inv_make %>"<% } %>>

    <label for="inv_model">Model:</label>
    <input
      type="text"
      id="inv_model"
      name="inv_model"
      minlength="3"
      placeholder="Min of 3 characters"
      required
      class="form-control"
      <%
      if(locals.inv_model)
      {
      %
    />
    value="<%= locals.inv_model %>"<% } %>>

    <label for="inv_description">Description:</label><br />
    <textarea
      id="inv_description"
      name="inv_description"
      class="form-control"
      required
      <%
      if(locals.inv_description)
      {
      %
    />
    value="<%= locals.inv_description %>"<% } %>>
    >
    </textarea>
    <br />
    <label for="inv_image">Image Path:</label>
    <input
      type="text"
      id="inv_image"
      name="inv_image"
      class="form-control"
      value="<%= locals.inv_image %>"
      placeholder="/image/vehicles/name.png"
      required
    />

    <label for="inv_thumbnail">Thumbnail Path:</label>
    <input
      type="text"
      id="inv_thumbnail"
      name="inv_thumbnail"
      class="form-control"
      value="<%= locals.inv_thumbnail %>"
      placeholder="/image/vehicles/name.png"
      required
    />

    <label for="inv_price">price :</label>
    <input
      type="number"
      id="inv_price"
      name="inv_price"
      class="form-control"
      value="<%= locals.inv_price %>"
      placeholder="decimal or interger"
      required
    />

    <label for="inv_color">color :</label>
    <input
      type="text"
      id="inv_color"
      name="inv_color"
      class="form-control"
      required
      <%
      if(locals.inv_color)
      {%
    />
    value="<%= locals.inv_color %>"<%} %>> />

    <label for="inv_miles">miles :</label>
    <input
      type="text"
      id="inv_miles"
      name="inv_miles"
      size="10"
      class="form-control"
      placeholder="digits or numbers"
      required
      pattern="^\d+$"
      <%
      if(locals.inv_miles)
      {%
    />
    value="<%= locals.inv_miles %>" <% } %>> />

    <input type="hidden" name="inv_id" <% if(locals.inv_id) { % /> value="<%=
    locals.inv_id %>" <% } %>>

    <button type="submit" class="inventory-button" disabled>
      Update Vehivle
    </button>
  </form>
</div>
<script src="../../js/inv-update.js"></script>
